// config file for HTML tidy
custom-tags: yes
strict-tags-attributes: no
error-file: tidy.out
mute:
mute-id: yes
anchor-as-name: yes
escape-cdata: yes
drop-empty-elements: no
drop-empty-paras: no
drop-proprietary-attributes: no
add-xml-decl: no
sort-attributes: alpha
accessibility-check: 0
newline: LF
doctype: html5
indent: auto
indent-spaces: 2
wrap: 0
markup: yes
output-encoding: utf8
output-xhtml: yes
output-html: no
output-xml: no
input-xml: no
logical-emphasis: no
show-body-only: no
show-errors: 6
show-filename: yes
show-info: yes
show-meta-change: no
show-warnings: yes
numeric-entities: yes
quote-marks: yes
quote-nbsp: yes
quote-ampersand: no
break-before-br: yes
uppercase-tags: no
uppercase-attributes: no
char-encoding: utf8
new-inline-tags: cfif, cfelse, math, mroot,
  mrow, mi, mn, mo, msqrt, mfrac, msubsup, munderover,
  munder, mover, mmultiscripts, msup, msub, mtext,
  mprescripts, mtable, mtr, mtd, mth
new-blocklevel-tags: cfoutput, cfquery, code
new-empty-tags: cfelse
